__pycache__/
.cache/
*.mp4
*.avi
*.mov
*.mkv
*.png
*.pt
*.cbm
*.Identifier
for me.md
models/*
!backend/models/download.sh
!backend/models/best_ball_detect_model.pt
videos/
*.env
backend/data/*
*.pkl
/data/*