__pycache__/
*.env
.vscode/
.claude/
data/*
backend/videos/*
backend/test/*
!backend/test/balltest/
backend/test/balltest/*
!backend/test/balltest/*.py
system_sequence_diagram.*
待做工作.md

*.pt
*.pdf
*.dump