fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
numpy
opencv-python
pillow
ultralytics
lap
supervision
PyYAML
requests
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt<4
